* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --primery-coler: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    display: block;
}

.btn {
    background: var(--primery-coler);
    border-radius: 99px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    min-width: 205px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--header-bg);

    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
/* Header */

.header {
    min-width: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    display: inline-flex;
}

.logo__circle {
    position: relative;
    font-size: 1em;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    margin-left: 1.1em;
    margin-top: 1.1em;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    text-align: right;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* Navigation */

.nav ul {
    display: flex;
}

.nav a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8; /* 175% */
    padding: 12px 24px;
}

.nav a:hover {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8; /* 175% */
    text-shadow: 1px 0 0 currentColor;
}

.nav__active::before {
    position: relative;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}

.auth {
    display: flex;
}

.auth__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8; /* 175% */
    margin-right: 28px;
}

.auth__signup {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8; /* 175% */
    width: 104px;
    height: 44px;
    border-radius: 99px;
    background: var(--primery-coler);
}

/* Hero */
.hero {
    margin-top: 46px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    margin-right: 114px;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.2; /* 114.286% */
    margin-bottom: 22px;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8;
    font-weight: 300;
    line-height: 1.67;
    margin-bottom: 38px;
    letter-spacing: 1px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    margin-left: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7; /* 166.667% */
}

.hero__media {
    flex-grow: 1;
}

.hero__media--img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__media img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__media img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__media img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */

.services {
    margin-top: 170px;
    background: #fff;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__list {
    margin-bottom: 55px;
}

.services__img img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    margin-right: 130px;
}

.section__heading {
    margin-bottom: 18px;
}

.section__desc {
    margin: 0 auto;
    width: 468px;
}

.services__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.services__item--heading {
    color: var(--header-bg);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 8px;
}

.services__item--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    width: 308px;
}

.services__item {
    display: flex;
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
    justify-content: center;
}

.services__item--icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    color: var(--header-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    transition: 0.25s;
}

.services__item--content {
    margin-left: 18px;
    margin-top: 21px;
}

.services__item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__item--icon {
    background: #fff;
    color: #2e80ce;
}
