* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
    --primery-coler: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    display: block;
}

.btn {
    background: var(--primery-coler);
    border-radius: 99px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    min-width: 205px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--header-bg);

    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
/* Header */

.header {
    min-width: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    display: inline-flex;
}

.logo__circle {
    position: relative;
    font-size: 1em;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--primery-coler);
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
    position: absolute;
    margin-left: 1.1em;
    margin-top: 1.1em;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    text-align: right;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* Navigation */

.nav ul {
    display: flex;
}

.nav a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8; /* 175% */
    padding: 12px 24px;
}

.nav a:hover {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8; /* 175% */
    text-shadow: 1px 0 0 currentColor;
}

.nav__active::before {
    position: relative;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    left: -8px;
    top: -2px;
}

.auth {
    display: flex;
}

.auth__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8; /* 175% */
    margin-right: 28px;
}

.auth__signup {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8; /* 175% */
    width: 104px;
    height: 44px;
    border-radius: 99px;
    background: var(--primery-coler);
}

/* Hero */
.hero {
    margin-top: 46px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    margin-right: 114px;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.2; /* 114.286% */
    margin-bottom: 22px;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8;
    font-weight: 300;
    line-height: 1.67;
    margin-bottom: 38px;
    letter-spacing: 1px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    margin-left: 38px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7; /* 166.667% */
}

.hero__media {
    flex-grow: 1;
}

.hero__media--img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__media img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__media img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__media img:last-child {
    width: 210px;
    height: 410px;
}

/* Services */

.services {
    margin-top: 170px;
    background: #fff;
}

.services__heading,
.services__desc {
    text-align: center;
}

.services__list {
    margin-bottom: 55px;
}

.services__img img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    margin-right: 130px;
}

.section__heading {
    margin-bottom: 18px;
}

.section__desc {
    margin: 0 auto;
    width: 468px;
}

.services__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

/* Services Item */

.services__item--heading {
    color: var(--header-bg);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 8px;
}

.services__item--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    width: 308px;
}

.services__item {
    display: flex;
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
    justify-content: center;
}

.services__item--icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    color: var(--header-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    transition: 0.25s;
}

.services__item--content {
    margin-left: 18px;
    margin-top: 21px;
}

.services__item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__item--icon {
    background: #fff;
    color: var(--primery-coler);
}

/* Work */

.work {
    margin: 170px 0;
    background: #f6fbff;
    padding: 100px 0;
}

.work .section__desc {
    margin: 18px 0 70px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 44px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item__heading {
    color: var(--header-bg);

    font-size: 2.6rem;
    margin-bottom: 28px;
    font-weight: 600;
    line-height: 1.39; /* 138.462% */
}

.work-item__desc {
    color: #575f66;
    width: 254px;
    font-size: 1.6rem;
    margin-bottom: 18px;
    font-weight: 300;
    line-height: 1.75;
}

.work__more {
    color: var(--primery-coler);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-item:hover {
    border-color: var(--primery-coler);
    transform: translateY(-16px);
}

/* Feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__images {
    position: relative;
    width: 48%;
    padding: 0 58px 121px 0;
}

.feature__images-under {
    width: 512px;
    height: 370px;
    border-radius: 6px;
}

.feature__images-over {
    position: absolute;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    bottom: 0;
    right: 0;
}

.feature .container {
    display: flex;
    align-items: center;
}

.feature__content {
    margin-left: 130px;
}

.feature .section__desc {
    margin-bottom: 38px;
}

/* Member */

.member {
    padding-top: 85px;
}

.member-header {
    text-align: center;
}

.member__cta {
    margin: 20px 0 70px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member__list--item {
    text-align: center;
}

.member__list--item:hover img {
    transform: scale(1.1);
}

.member__list--img {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    margin-bottom: 12px;
    overflow: hidden;
}

.member__list--img img {
    max-width: 100%;
    display: block;
    transition: 0.25s;
}

.member__list--name {
    color: var(--header-bg);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member__list--desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.member__control {
    column-gap: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.member__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    background: #fff;
    outline: none;
    color: #575f66;
    transition: 0.25s;
}

.member__control-btn:hover {
    background: var(--primery-coler);
    color: #ffffff;
    border-color: var(--primery-coler);
    cursor: pointer;
}

.member__control-btn-nexts {
    rotate: 180deg;
}

/*App  */
.app {
    margin-top: 170px;
}
.app__content {
    display: flex;
    border-radius: 4px;
    background: var(--primery-coler);
    padding: 0 70px;
}

.app__phone--img {
    width: 284px;
    height: 522px;
    margin-top: -95px;
}

.app__phone--text {
    margin-left: 170px;
}

.app__phone--heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    margin: 76px 0 18px;
    width: 489px;
}

.app__phone--desc {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 38px;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
    width: 586px;
}

.app__download {
    column-gap: 28px;
    display: flex;
}
/* News */
.news {
    margin-top: 170px;
}

.news__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news__heading {
    width: 470px;
}

.news__blog--all {
    color: var(--header-bg);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
    text-decoration-line: underline;
    text-underline-offset: 5px;
    margin-top: 10px;
}

.news__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    background: #fff;
    outline: none;
    color: #575f66;
    transition: 0.25s;
}

.news__control {
    display: flex;
    column-gap: 18px;
    margin-top: 28px;
}

.news__control-btn:hover {
    background: var(--primery-coler);
    color: #ffffff;
    border-color: var(--primery-coler);
    cursor: pointer;
}

.news__control-btn-nexts {
    rotate: 180deg;
}

.news__events {
    margin-left: 130px;
}

.news__item--img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
}

.news__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.news__item-left {
    grid-column: 1;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
}

.news__item-right {
    grid-column: 2;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
}

.news__event--title {
    color: var(--header-bg);
    width: 224px;
    font-size: 1.4rem;
    margin: 18px 22px;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.news__event--desc {
    color: #575f66;
    width: 226px;
    font-size: 1.4rem;
    margin: 0 22px;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.news__more {
    color: var(--primery-coler);
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    margin: 22px 0 22px 22px;
    display: block;
}

.news__item-left:hover {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: #fff;
    transition: 0.25s;
}

.news__item-right:hover {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: #fff;
    transition: 0.25s;
}

/*  Welcom*/
.welcom {
    margin-top: 170px;
    background: #f6fbff;
    padding: 100px 0;
}

.welcom__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcom__content--heading {
    margin-bottom: 38px;
    position: relative;
    width: 813px;
}

.welcom__content--heading::before {
    width: 136px;
    height: 2px;
    content: "";
    background: #2e80ce;

    position: absolute;
    bottom: -18px;
    left: 339px;
}

.welcom__content--desc {
    width: 617px;
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-bottom: 38px;
}
/* Footer */
.footer {
    margin-top: 170px;
    background: var(--header-bg);
    padding-top: 100px;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 22px;
}

.footer__heading {
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 20px;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__list-link {
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.footer__item {
    margin-bottom: 10px;
}

.footer__social {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.footer__social-btn {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    color: #2e80ce;
}

.footer__social-btn:nth-child(2) {
    margin: 0 10px;
}

.footer__social-btn:hover {
    color: #fff;
    background: #2e80ce;
    transition: 0.25s;
}

.footer__form {
    margin-top: 10px;
    display: flex;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    background: #10375c;
    border: 1px solid #406181;
    margin-top: 10px;
    border-radius: 4px;
    padding: 0 10px;
    outline: none;
    color: #fff;
}

.footer-form__input::placeholder {
    color: #9ca8b1;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.footer-form__submit {
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2e80ce;
    border: none;
    color: #fff;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86; /* 185.714% */
    margin-left: 10px;
}

.footer__copyright {
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    color: #aab3ba;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.4rem;
    padding: 28px 0 42px;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
