* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    display: block;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    min-width: 130px;
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    height: var(--height);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: var(--height);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    border-radius: 31px;
    border-color: var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.btn__view {
    width: 193px;
    height: 56px;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffaf5;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section__desc {
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
    font-weight: 400;
}
/* Header */

.header {
    background: #fffaf5;
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 103px;
    height: 37.175px;
}

.nav__list {
    display: flex;
}

.nav__link,
.header__action-link {
    color: #5e6085;
    padding: 8px 18px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.nav__link:hover {
    color: #000958;
    font-size: 1.4rem;
    text-shadow: 1px 0 0 currentColor;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action-btn {
    min-width: 117px;
    --height: 50px;
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
    width: 100%;
}

.hero__content {
    max-width: 517px;
}

.hero__img--wrap {
    position: relative;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor-1 {
    position: absolute;
    left: -58px;
    top: 248px;
    z-index: -1;
}

.hero__decor-2 {
    position: absolute;
    right: -43px;
    top: 17px;
    z-index: -1;
}

.hero__img--wrap-smail {
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 3px solid #fde0e2;
    margin: 0 0 -58px -23px;
    align-self: flex-end;
}

.hero__item {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__item--list {
    display: flex;
    margin: 18px 14px;
}

.hero__item--list-thumb {
    border-radius: 10px;
    background: #fec23f;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.hero__item--list_info {
    margin-left: 10px;
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__item--list-skeleton {
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
    width: var(--width, 118px);
    height: 4px;
    margin: 6px 0;
}

.hero__item--separate {
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
    margin: 0 14px;
}

.hero__item--list:nth-of-type(2) .hero__item--list-thumb {
    background: #c6e2fa;
}

.hero__heading {
    color: #000958;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
    width: 517px;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.hero__contact {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero__btn {
    margin-right: 24px;
    width: 189px;
    height: 60px;
}

.hero__call-link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    text-decoration-line: underline;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__heading {
    margin: 15px 0 24px;
    width: 446px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
}

.about__check--item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.about__check--item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
}

.about__check--item::after {
    content: url(../icon/check.svg);
    position: absolute;
    bottom: 4px;
    left: 5px;
}

.about__check--item {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__media--inner {
    position: relative;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    margin: 0 auto;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    text-align: center;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__card--title {
    color: #fff;
    font-family: Sora, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__card--desc {
    width: 83px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    margin-top: 14px;
}

.about__card--decor {
    position: absolute;
    top: -38px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    width: 494px;
    height: 336px;
    inset: auto 0 0 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: -1;
}

.about__media-decor {
    position: absolute;
    right: -50px;
    top: 157px;
    z-index: -1;
}

.about__img-wrap--bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap--bottom::after {
    content: none;
}

.about__img--bottom {
    width: 100%;
}
.about__img--decor {
    position: absolute;
}

.about__img--decor:nth-child(1) {
    top: 12px;
    right: 63px;
}
.about__img--decor:nth-child(2) {
    right: 16px;
    top: -13px;
}
.about__img--decor:nth-child(3) {
    right: -21px;
    top: 33px;
}
.about__img--decor:nth-child(4) {
    bottom: 150px;
    right: 19px;
}
.about__img--decor:nth-child(5) {
    bottom: 206px;
    right: -33px;
}
.about__img--decor:nth-child(6) {
    right: -24px;
    bottom: -40px;
}
.about__img--decor:nth-child(7) {
    right: -33px;
    bottom: -47px;
}
.about__img--decor:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__content--desc {
    width: 511px;
    margin: 24px 0 52px;
}

.tabs__list {
    display: inline-flex;
    position: relative;
    column-gap: 56px;
}

.tabs__list::after,
.tab__item--active::after,
.tab__content--more::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    right: 0;
    height: 2px;
    background: #ff5b2e;
    border-radius: 99px;
    opacity: 0.07;
}

.tab__item--active::after {
    position: absolute;
    width: 95px;
    background: #ff5b2e;
    opacity: 1;
}
.tab__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    position: relative;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__item-icon {
    width: 20px;
}

.tab__item-title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content--desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    width: 391px;
    padding-bottom: 32px;
}

.tab__content--more {
    position: relative;
    color: #ff5d31;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content--more::after {
    opacity: 1;
    height: 2px;
}
/* Services */
.services {
    margin-top: 190px;
    background: #fff6ed;
    padding-bottom: 100px;
}

.services__top {
    padding-top: 68px;
    margin-bottom: 15px;
    text-align: center;
}

.services__body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 70px;
    column-gap: 70px;
}

.services-item__colums {
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 28px;
}

.services-item__heading {
    position: relative;
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 12px;
}

.services-item__heading::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(180deg, #ff5b2e 0.39%, #ffa187 100.29%);
    display: block;
    bottom: 0;
    left: -10px;
    border-radius: 99px;
}

.services-item__desc {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin: 18px 0 24px 0;
}

.services-item__link {
    color: #34396a;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    display: inline-flex;
}

.services-item__link::after {
    content: url(../icon/arrow-up-right.svg);
    margin-left: 6px;
}

.services-item__colums + .services-item__colums {
    margin-top: 24px;
}

.services__img {
    margin-top: 18px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.services__img::after {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;

    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__img-pet {
    width: 100%;
    height: 621px;
}

.services__colums-btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.services__btn {
    width: 214px;
    height: 56px;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__heading {
    margin-top: 15px;
}

.staff__user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff__user--list {
    text-align: center;
}

.staff__user-img {
    width: 94%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

.staff__user-img--wrap {
    border-radius: 130px;
    position: relative;
}

.staff__user-img--wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 94%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__user-img--wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50%);
}

.staff__user--list:nth-child(1) .staff__user-img--wrap::before {
    content: url(../icon/decor11.svg);
}

.staff__user--list:nth-child(2) .staff__user-img--wrap::before {
    content: url(../icon/decor12.svg);
    top: 14px;
}

.staff__user--list:nth-child(2) .staff__user-img--wrap::after {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__user--list:nth-child(3) .staff__user-img--wrap::before {
    content: url(../icon/decor13.svg);
}

.staff__user--list:nth-child(3) .staff__user-img--wrap::after {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__user--list:nth-child(4) .staff__user-img--wrap::before {
    content: url(../icon/decor14.svg);
    top: 14px;
}

.staff__user--list:nth-child(4) .staff__user-img--wrap::after {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__user--title {
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin: 34px 0 14px;
}
.staff__user--name {
    color: #000958;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

/* Pricing */
.pricing {
    padding: 86px 0;
}

.pricing__container {
    width: 994px;
}

.pricing__inner {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.pricing__title-desc {
    margin: 24px 0 38px;
    width: 709px;
}

.pricing__switch {
    display: flex;
    justify-content: center;
}

.pricing__label-switch {
    position: relative;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.pricing__label-switch::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 141px;
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
}

.pricing__input-switch:checked + .pricing__label-switch::before {
    width: 131px;
    right: 0;
    left: auto;
}

.pricing__input-switch:not(:checked)
    + .pricing__label-switch
    .pricing__value:last-child,
.pricing__input-switch:checked
    + .pricing__label-switch
    .pricing__value:first-child {
    color: #ff5b2e;
}

.pricing__value {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
}

.pricing__switch--inner {
    position: relative;
}

.pricing__switch-sale {
    position: absolute;
    right: -120px;
    bottom: 37px;
}

.pricing__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing__card {
    margin-top: 56px;
}

.pricing__card-pricing {
    width: 302px;
    height: 465px;
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
}

.pricing__list-label {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__list-title {
    color: #3f4065;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin: 8px 0 24px;
}

.pricing__list-money {
    color: #000958;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 22px;
}

.pricing__card-btn {
    width: 246px;
    height: 44px;
    background: #fff;
    border: 1px solid rgba(255, 91, 46, 0.6);
    box-shadow: none;
}

.pricing__list-item {
    margin-top: 24px;
}

.pricing__item {
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__item::before {
    content: url(../icon/check.svg);
    margin-right: 12px;
}

.pricing__item + .pricing__item {
    margin-top: 18px;
}

.pricing__card-btn:hover,
.pricing__card-btn:focus {
    background: #ff5b2e;
    color: #fff;
}

.pricing__card-pricing:hover {
    box-shadow: 0 20px 44px 0 rgba(195, 108, 22, 0.06);
}

.pricing__card-pricing:is(:nth-child(1), :nth-child(2))
    .pricing__item:is(:nth-child(5), :nth-child(6), :nth-child(7))::before {
    content: url(../icon/check-blur.svg);
}
