* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    display: block;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    min-width: 130px;
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    height: var(--height);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: var(--height);
    display: inline-block;
}

/* Header */

.header {
    background: #fffaf5;
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 103px;
    height: 37.175px;
}

.nav__list {
    display: flex;
}

.nav__link,
.header__action-link {
    color: #5e6085;
    padding: 8px 18px;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.nav__link:hover {
    color: #000958;
    font-size: 1.4rem;
    text-shadow: 1px 0 0 currentColor;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.header__action {
    display: flex;
    align-items: center;
}

.header__action-btn {
    min-width: 117px;
    --height: 50px;
}

